<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>gesblr3</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/LSR</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>FAREAST\AchinBha</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=C:\Users\achinbha\SkyDrive\Code-Project\LogPart\LogPart\App_Data\SamplesDB.sdf" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-LogPart-20120913153619.mdf;Initial Catalog=aspnet-LogPart-20120913153619;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-LogPart-20120913153619;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-LogPart-20120913153619.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SamplesDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=C:\Users\achinbha\SkyDrive\Code-Project\LogPart\LogPart\App_Data\SamplesDB.sdf" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=|DataDirectory|\SamplesDB.sdf" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SamplesDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ClassificationModel.csdl|res://*/ClassificationModel.ssdl|res://*/ClassificationModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\SamplesDB.sdf&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=C:\Users\achinbha\SkyDrive\Code-Project\LogPart\LogPart\App_Data\SamplesDB.sdf</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SamplesDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ClassificationModel.csdl|res://*/ClassificationModel.ssdl|res://*/ClassificationModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string="Data Source=C:\Users\achinbha\SkyDrive\Code-Project\LogPart\LogPart\App_Data\SamplesDB.sdf"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>